<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>practice1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>servletEx</servlet-name>
  	<servlet-class>com.servlet.ServletEx</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servletEx</servlet-name>
  	<url-pattern>/SE</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>servletDataEx</servlet-name>
  	<servlet-class>com.servletdata.ServletParameterEx</servlet-class>
  	<init-param>
  		<param-name>adminId</param-name>
  		<param-value>Admin12</param-value>
  	</init-param>  	
  	<init-param>
  		<param-name>adminPw</param-name>
  		<param-value>12345</param-value>
  	</init-param>
  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>servletDataEx</servlet-name>
  	<url-pattern>/servletDataEx</url-pattern>
  </servlet-mapping>
  
  
  <!-- servlet - jsp mapping 
  	url-pattern 에 .jsp 가 들어가고,
  	servlet - servlet-class 대신 jsp-file이 들어감을 알 수 있다
  -->
  <servlet>
  	<servlet-name>xmlConfigEx</servlet-name>
  	<jsp-file>/xmlConfigEx.jsp</jsp-file>
  	
  	<!--  init param (jsp- getInitParameter()) 
  		설정한 파일에 넘겨줄 param 설정
  	-->
  	<init-param>
  		<param-name>adminId</param-name>
  		<param-value>Admin</param-value>
  	</init-param>
  	<init-param>
  		<param-name>adminPw</param-name>
  		<param-value>1234</param-value>
  	</init-param>  	
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>xmlConfigEx</servlet-name>
  	<!-- url-pattern 은 마음대로 지정할 수 있음 ( /xmlConfigEx.jsp , .do, 생략 등) -->
  	<url-pattern>/xmlConfigEx</url-pattern>
  </servlet-mapping>
  
  
  <!-- context param - 전체 application 에서 공유가능 -->
  <context-param>
  	<param-name>developIP</param-name>
  	<param-value>127.25.0.1</param-value>
  </context-param>
  <context-param>
  	<param-name>imgDir</param-name>
  	<param-value>/upload/img</param-value>
  </context-param>
  
  <!-- Filter 에 모든 servlet 연결 전체 파일 한글처리 -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>com.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>